#!/usr/bin/env bash
# Used files hash: {{ include "system/sudo_local" | sha256sum }}

set -euo pipefail

OS=$(uname)

if [[ "$OS" != "Darwin" ]]; then
	exit 0
fi;

# iTerm2 setup loading settings from dotfiles and keeping them in sync
defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "{{ .chezmoi.workingTree }}/iterm"
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true
defaults write com.googlecode.iterm2.plist NoSyncNeverRemindPrefsChangesLostForFile_selection -int 2

# Setup sudo fingerprint
sudo cp {{ .chezmoi.workingTree }}/system/sudo_local /etc/pam.d/sudo_local